<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết lớp</title>
</head>
<body>
    <h1>Thông tin chi tiết lớp</h1>
    <table>
        <tr>
            <th>ID</th>
            <td>
                <%= classItem.id %>
            </td>

        </tr>
        <tr>
            <th>Mã lớp</th>
            <td>
                <%= classItem.class_code %>
            </td>
        </tr>
        <tr>
            <th>Tên lớp</th>

            <td>
                <%= classItem.class_name %>
            </td>

        </tr>
        <tr>
            <th>Mô tả</th>
            <td>
                <%= classItem.description %>
            </td>
        </tr>
    </table>
    <br>
    <a href="/classes">
        Quay lại danh sách
    </a>
</body>
</html>